$fontColorWhite: #ffffff;
$fontColorBlack: #000000;

$fontWeight: 700;
$mainFontSize: 12px;
$mainBorderRadius: 4px;

$alertBackgroundColor: #ff0000;
$alertTextShadowColor: 0 1px 0 #ffffff;
$alertButtonRotate: rotate(45deg);

$tooltipBackgroundColor: #ffffff;

$eulaLinkColor: #007bff;
$eulaLinkHoverColor: #0056b3;

$eulaButtonCancelBgColor: #6c757d !important;
$eulaButtonCancelHoverBgColor: #5a6268 !important;
$eulaButtonCancelOutline: 3.5px solid rgba(78, 85, 91, 0.25);

$eulaButtonOKBgColor: #0a9bcd !important;
$eulaButtonOKDisabledBgColor: #60bedf !important;
$eulaButtonOKOutline: 3.5px solid rgba(0, 123, 255, 0.25);

$eulaButtonFontColor: #ffffff !important;
$eulaButtonFontSize: 16px !important;
