.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 30px;
  color: $fontColorBlack;
}

.copyright {
  font-size: $linkFontSize !important;
  margin-left: 15px !important;
  letter-spacing: normal !important;
}

.privacy {
  font-size: $linkFontSize;
  color: $fontColorBlack !important;
  margin: 0 15px 0 0 !important;
}

.license {
  font-size: $linkFontSize;
  color: $fontColorBlack !important;
  margin: 0 15px 0 0 !important;
}
