.forgotInput {
  @extend .loginInput;
  margin-bottom: 0 !important;
}

.forgotButton {
  @extend .loginButton;
  margin: 16px 0 10.5px 0 !important;
}

.textSingInAsk {
  text-align: center;
  color: $fontColorDarkGrey;
  font-size: 14px;
  margin-bottom: 23px;
}

.linkSingIn {
  color: $fontColorGrey;
  margin-left: 4px;
}
