.update {
  min-width: 265px;
  max-width: 420px;
}

.updateText {
  margin: 25px 0 19px 0 !important;
  font-size: 15.7px !important;
  color: $fontColorBlack;
}

.updateLink {
  color: $updateLinkColor !important;
  text-decoration: none;
  &:hover {
    color: $updateHoverLinkColor !important;
    text-decoration: underline;
  }
}

.kyoceraBlackLogoPU {
  @extend .kyoceraBlackLogo;
  display: flex;
  margin: 38px auto 0px;
}

.updatedSection {
  min-width: 300px;
}

.kyoceraBlackLogoUp {
  @extend .kyoceraBlackLogo;
  display: flex;
  margin: 38px auto 0px;
}
