.forgotInput {
  @extend .loginInput;
  margin-bottom: 0 !important;
}

.forgotButton {
  @extend .loginButton;
  margin: 16px 0 10px 0 !important;
}

.textSingInAsk {
  text-align: center;
  color: $fontColorDarkGrey;
  font-size: $singInFontSize;
  margin-bottom: 26px;
}

.linkSingIn {
  color: $fontColorGrey;
  margin-left: 4px;
}
