$mainBackgroundColor: #f2f2f2;

$containerBackgroundColor: #ffffff;
$containerBorderColor: #bebebe;

$BoxShadowColor: #00000029;

$borderRadius: 4px;

$fontColorBlack: #000000;
$fontColorWhite: #ffffff;
$fontColorGrey: #6f6f6f;
$fontColorDarkGrey: #282828;

$buttonFontSize: 16px;
$buttonBackgrounColor: #0a9bcd;
$buttonBorderColor: #80bdff;
$buttonBoxShadow: 0 0 0 3.5px rgba(0, 123, 255, 0.25);
$buttonOutline: 3.5px solid rgba(0, 123, 255, 0.25);

$inputBackgroundColorWhite: #ffffff;
$inputBackgroundColorLightGrey: #e9ecef;
$inputBorderColor: #a9a9a9;
$inputFocusedBorderColor: #80bdff;
$inputFontSize: 16px;
$inputBoxShadow: 0px 3px #00000029;
$inputFocusedBoxShadow: 0 0 0 3.5px rgba(0, 123, 255, 0.25);
$inputBorder: 1px solid #80bdff;

$linkFontSize: 12.8px;

$menuFontSize: 12.8px;
$menuFontSizeItem: 13px;
$menuBorder: 1px solid rgba(0, 0, 0, 0.15);

$singInFontSize: 14px;

$updateLinkColor: #007bff;
$updateHoverLinkColor: #0056b3;