.forgotInput {
  height: 38px;
  width: 300px;
  border-radius: $borderRadius;
  background: $inputBackgroundColor;
  & > div > input {
    height: 26px;
    padding: 6px 12px;
    font-size: $inputFontSize;
    color: $fontColorWhite;
    letter-spacing: normal;
    &::placeholder {
      font-size: $inputFontSize !important;
      opacity: 1;
    }
    &:focus {
      outline: $inputOutline;
      border-radius: $borderRadius;
    }
  }
}

.forgotButton {
  @extend .loginButton;
  margin: 16px 0 10.5px 0 !important;
}

.textSingInAsk {
  text-align: center;
  color: $fontColorWhite;
  font-size: $singInFontSize;
}

.linkSingIn {
  color: $fontColorWhite;
  margin-left: 4px;
}
