$mainBackgroundColor: #282828;

$fontColorWhite: #ffffff;

$inputBackgroundColor: #a9a9a9;

$buttonBackgrounColor: #0a9bcd;

$borderRadius: 4px;

$buttonFontSize: 16px;
$buttonOutline: 3.5px solid rgba(0, 123, 255, 0.25);

$inputFontSize: 16px;
$inputOutline: 3.5px solid rgba(0, 123, 255, 0.25);

$linkFontSize: 12.8px;

$menuFontSize: 12.8px;
$menuFontSizeItem: 13px;

$singInFontSize: 14px;

$updateLinkColor: #007bff;
$updateHoverLinkColor: #0056b3;
